<div ng-controller="AddArticleController">
    <p>
        <a ui-sref="app.notice">公告管理</a>
        >
        新建公告
    </p>
    <div class="bgo-panel">
        <div class="bgo-panel-title">
            <span>用户信息</span>
        </div>
        <form ng-submit="save()" class="bgo-form">
            <table>
                <tbody>
                    <tr>
                        <td class="form-title">公告标题：</td>
                        <td>
                            <input type="text" class="bgo-input" ng-model="param.title" autofocus="autofocus" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-title" style="vertical-align: text-top;">公告内容：</td>
                        <td>
                            <textarea rows="5" cols="40" ng-model="param.content" style="resize: none;border:1px solid #DDDDDD" required>
                            </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" class="btn btn-success bgo-button">保存</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>